.select-block {
    position: relative;
}

.select-block label {
    font-size: 2rem;
}

.select-block + .select-block {
    margin-top: 1.4rem;
}

.select-block select {
    width: 100%;
    height: 4.2rem;
    margin-top: 0.4rem;
    border-radius: 1.2rem;
    border: solid 1px var(--color-line-in-white);
    outline: 0;
    padding: 0 2rem;
    font: 2rem Archivo;
    background: var(--color-input-background);
}

.select-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}